<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">

	<style type="text/css" media="screen">

		<%= "/* Clearfix */\n" %>
		<%= raw ".row:after {content: \"\";display: block; clear: both;}\n\n" %>


		<%= "/* Floating cols, and padding */\n" %>
		<%= raw "[class*=\"col-\"] {float:left; box-sizing: border-box; border:solid 1px #333; padding:#{@gutter}px; background-color:#ccc; }\n\n" %>

		<%= "/* Columns */\n" %>
		<% @cols.times do |i| %>
 			<% - i = i + 1 %>
			<%=raw ".col-#{i}{width: #{(100.0)/@cols * i}%;}\n" %>
		<% end %>

		<%= "\n/* Offsets */\n" %>
		<% @cols.times do |i| %>
			<% i = i + 1 %>
			<%=raw ".col-offset-#{i}{margin-left: #{(100.0)/@cols * i}%;}\n" %>
		<% end %>

	</style>
</head>

<body>
	<%= render "grids/results" %>


	<div class="row">
		<% @cols.times do |i| %>
			<div class="col-1">
				Using 1 column
			</div>
		<% end %>
	</div> 	

	<div class="row">
		<% (@cols / 2).times do |i| %>
			<div class="col-2">
				Using 2 columns
			</div>
		<% end %>
	</div> 	

	<div class="row">
		<% (@cols / 3).times do |i| %>
			<div class="col-3">
				Using 3 columns
			</div>
		<% end %>
	</div> 	

	<div class="row">
		<% (@cols / 4).times do |i| %>
			<div class="col-4">
				Using 4 columns
			</div>
		<% end %>
	</div> 	

	<div class="row">
		<% 2.times do |i| %>
			<div class="col-2 col-offset-1">
				Using 2 columns and 1 offset
			</div>
		<% end %>
	</div> 	

	<div class="row">
		<% 2.times do |i| %>
			<div class="col-2 col-offset-2">
				Using 2 columns and 2 offset
			</div>
		<% end %>
	</div> 	

<h2 style="text-align:center"> 
	<a href="http://www.desafiolatam.com"> 
		DesafioLatam
	</a>©
</h2>

<h3 style="text-align:center"> Gonzalo Sánchez
</h3>

</body>
</html>